<header class="sheet-header flexrow" style="margin-bottom: -2px;">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    <section class="header-details flexcol">
        <section class="general-information">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" data-dtype="String" placeholder="Nome" />
            </h1>
            <div class="level-information">
                <a class="level-settings">
                    <div class="level" style="width: {{#if (lt data.attributes.nivel.value 10)}}76{{else}}87{{/if}}px;">Nível {{data.attributes.nivel.value}}</div>
                </a>
                {{#unless disableExperience}}
                <div class="xp-tracker" title="Experiência">
                    <div class="experience">
                        <input class="current-xp" name="data.attributes.nivel.xp.value" type="text" value="{{data.attributes.nivel.xp.value}}" data-dtype="Number" placeholder="0" maxlength="7" />
                        <span class="max-xp">{{data.attributes.nivel.xp.proximo}}</span>
                    </div>
                    <div class="xp-bar">
                        <div class="xp-bar-total">
                            <span class="xp-bar-current" style="width: {{data.attributes.nivel.xp.pct}}%"></span>
                        </div>
                    </div>
                </div>
                {{/unless}}
            </div>
        </section>
        <!-- <h1 class="charname" style="margin: 5px;"> -->
        <!-- <input name="name" type="text" value="{{actor.name}}" data-dtype="String" placeholder="Nome" /> -->
        <!-- </h1> -->

        {{!-- Character Summary --}}
        <section class="general-information summary">
            <ul class="attributes flexrow" style="flex: 1; margin:0; padding:0;">
                <li class="flexrow">
                    <input type="text" name="data.attributes.raca" value="{{data.attributes.raca}}" data-dtype="String" placeholder="Raça" />
                </li>
                <li class="flexrow">
                    <input type="text" name="data.attributes.origem" value="{{data.attributes.origem}}" data-dtype="String" placeholder="Origem" />
                </li>
                <li class="flexrow">
                    <input type="text" name="data.attributes.classe" value="{{data.attributes.classe}}" data-dtype="String" placeholder="Classe" />
                </li>
                {{#if actor.flags.mostrarDivindade}}
                <li class="flexrow">
                    <input type="text" name="data.attributes.divindade" value="{{data.attributes.divindade}}" data-dtype="String" placeholder="Divindade" />
                </li>
                {{/if}}
            </ul>
        </section>
    </section>
</header>