<div class="form-group input-select">
    <label>Custo</label>
    <div class="form-fields">
		<input type="number" name="data.ativacao.custo" value="{{data.ativacao.custo}}" data-dtype="Number" placeholder="0"/><label>PM</label>
    </div>
</div>

{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>Ação</label>
    <div class="form-fields">
        <select name="data.ativacao.execucao">
            {{#select data.ativacao.execucao}}
            {{#if (eq item.type "talento")}}<option value=""></option>{{/if}}
            {{#each config.listaAtivacao as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
			{{#if (eq item.type "consumivel")}}<option value="verTexto">Ver Texto</option>{{/if}}
            {{/select}}
        </select>
    </div>
</div>

{{!-- Activation Condition --}}
<div class="form-group">
    <label>Condição de Ativação</label>
    <div class="form-fields">
        <input type="text" name="data.ativacao.condicao" value="{{data.ativacao.condicao}}"/>
    </div>
</div>

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>Alcance</label>
    <div class="form-fields">
        <select class="selectatr" name="data.alcance" value={{data.alcance}} data-type="String">
			{{#select data.alcance}}
			{{#if (eq item.type "talento")}}<option value=""></option>{{/if}}
			{{#each config.listaAlcance as |name alcance|}}
			<option value="{{alcance}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
    </div>
</div>

{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>Alvo</label>
    <div class="form-fields">
        <input type="text" name="data.alvo" value="{{data.alvo}}" data-dtype="String"/>
    </div>
</div>

<div class="form-group">
	<label>Área</label>
	<div class="form-fields">
		<input type="text" name="data.area" value="{{data.area}}" data-dtype="String" />
	</div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>Duração</label>
    <div class="form-fields">
        <select name="data.duracao.unidade">
            {{#select data.duracao.unidade}}
			{{#if (eq item.type "talento")}}<option value=""></option>{{/if}}
            {{#each config.listaDuracoes as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
		{{#if (or (eq data.duracao.unidade "outra") (eq data.duracao.unidade "permanente") (eq data.duracao.unidade "concentracao"))}}<input type="text" name="data.duracao.valor" value="{{data.duracao.valor}}" data-dtype="String" placeholder="Descrição" />{{/if}}
    </div>
</div>
