<header class="sheet-header flexrow">
	<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

	<div class="header-details {{#if (or (eq item.type "jutsu") (eq item.type "arma"))}}flexcol{{else}}flexrow{{/if}}">
		<h1 class="charname" style="margin: 0;">
			<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'IDJ.itemNome' }}"/>
		</h1>
		{{#if (or (eq item.type "jutsu") (eq item.type "arma"))}}
		<footer>
			{{#if (eq item.type "jutsu")}}
			<label style="font-size: 11px;margin-left: 10px;">
				{{lookup config.tipoChacraAttr data.tipoChacra}} ({{#jutsuDescricao data.descritores}}{{/jutsuDescricao}}) {{lookup config.grauJutsu data.grau}}</label>
			{{/if}}
			{{#if (eq item.type "arma")}}<label style="font-size: 11px;margin-left: 10px;">
				{{lookup config.tipoArma data.tipoArma }} — 
				{{#if (or data.propriedades.arremesso data.propriedades.disparo)}}{{ localize 'IDJ.ataqueDistancia' }} ({{data.alcance}})
				{{else}}{{ localize 'IDJ.corpoACorpo' }}
				{{/if}} — 
				{{#if data.propriedades.duasMaos}}{{ localize 'IDJ.duasMaos' }}{{else}}{{#if data.propriedades.leve}}{{ localize 'IDJ.leve' }}{{else}}{{ localize 'IDJ.umaMao' }}{{/if}}{{/if}}</label>{{/if}}
		</footer>
		{{/if}}
	</div>
	{{#if data.ativacao.custo}}
	<aside class="manabox">
		<h2 class="custo">{{data.ativacao.custo}} PM</h2>
	</aside>
	{{/if}}
</header>
