<form class="{{cssClass}}" autocomplete="off">
	{{!-- Item Sheet Header --}}
    {{> "systems/imperiodejade/templates/item/parts/item-header.hbs"}}
	
	{{!-- Item Sheet Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize 'IDJ.tabDescricao' }}</a>
        <a class="item" data-tab="details">{{ localize 'IDJ.tabDetalhes' }}</a>
    </nav>

	{{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/imperiodejade/templates/item/parts/item-description.hbs"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{!-- Equipment Type --}}
            <div class="form-group">
                <label>{{ localize 'IDJ.equip.tipo' }}</label>
                <select class="selectatr" name="data.tipo">
                    {{#select data.tipo}}
                    {{#each config.tipoEquip as |name type|}}
					<option value="{{type}}">{{name}}</option>
					{{/each}}
                    {{/select}}
                </select>
            </div>
            {{!-- CA --}}
            <div class="form-group">
                <label>{{ localize 'IDJ.equip.bonusCA' }}</label>
                   <input type="number" name="data.armadura.value" value="{{data.armadura.value}}" data-dtype="Number"/>
            </div>

            {{!-- Bônus Maximo de Armadura --}}
            <div class="form-group">
                <label>{{ localize 'IDJ.equip.bonusMaxArmadura' }}</label>
                   <input type="number" name="data.armadura.bonusarmadura" value="{{data.armadura.bonusarmadura}}" data-dtype="Number"/>
            </div>

            {{!-- Penalidade de Armadura --}}
            <div class="form-group">
                <label>{{ localize 'IDJ.equip.penalidadeArmadura' }}</label>
                <input type="number" name="data.armadura.penalidade" value="{{data.armadura.penalidade}}" data-dtype="Number" max="0"/>
            </div>
        </div>
    </section>
</form>